.graphs_content {
    width: 30%;
    display: flex;
    justify-content: space-between;
}



#graph2 {
    background-color: black;
}


.recharts-polar-angle-axis-ticks {
    font-size: 14px;
    color: white;
}

.miniGraph {
    width: 100%;
    height: 100%;
}