.graphs_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.miniGraph {
    height: 253px;
    width: 268px;
}

#graph1 {
    background-color: red;
}

#graph2 {
    background-color: black;
}

#graph3 {
    background-color: #fbfbfb;
}