

.sideBar_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    height: 100%;
}

.sideBar_icons {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBar_icons img {
    width: 46px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.sideBar_content p {
    position: absolute;
    font-size: 12px;
    margin: 0;
    width: 250px;
    
    bottom: 100px;
    left: -85px;
    color: white;
    transform: rotate(270deg);
}
